.newReminderToggle{
    &:hover{
        cursor: pointer;
    }
}

.calendarContainer{
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .controlSection {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .newReminderSection {
            order: 1;
            margin-right: auto;
        }
        .calendarSelectSection{
            order: 2;
        }
    }
    .mainSection {
        margin-top: 3em;
    }
}