$calendarCellWidth: 10vw;
$calendarCellHeight: calc(#{$calendarCellWidth} / 1.5);
$calendarCellBorderColor: #d2d2d2;

.remindersForDate {
    width: $calendarCellWidth;
    min-height: $calendarCellHeight;
    border: solid 1px $calendarCellBorderColor;
    font-size: 0.8em;
    .dateLabel{
        position: relative;
        left: 4px;
        top: 3px;
    }
    &.previousMonth{
        background-color: #f2f2f2;
        .dateLabel{
            font-weight: lighter;
        }
    }
    .removeReminders {
        color: red;
        position: relative;
        top: 4px;
        left: calc(#{$calendarCellWidth} - 30px);
        &:hover{
            cursor: pointer;
        }
    }
    .remindersContainer{
        font-size: 0.95em;
        position: relative;
        left: 1px;
        top: calc(3px + 0.35em);
        padding-bottom: .55em;
        width: 100%;
    }
}